@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

@import './assets/styles/home.css';
@import './assets/styles/header.css';

:root {
	--primary-font: 'Bangers';

	--blue: #1e90ff;
	--yellow: #ffff00;
	--red: #960018;
	--black: #232323;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: var(--primary-font);
}

.main-wrapper {
	background-color: var(--black);
	min-height: 100vh;
	width: 100%;
}

.content {
	background-color: white;
	min-height: 100vh;
	margin: 0 280px;
}
