@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

@import './assets/styles/home.css';
@import './assets/styles/header.css';
@import './assets/styles/tchat.css';
@import './assets/styles/author.css';

@font-face {
	font-family: 'Alphakind';
	src: url('./assets/fonts/Alphakind.otf');
}

:root {
	--primary-font: 'Bangers';
	--secondary-font: 'Russo One';
	--third-font: 'Alphakind';

	--blue: #1e90ff;
	--light-blue: #87ceeb;
	--yellow: #ffe167;
	--yellow-title: rgb(255, 228, 0);
	--red: #ff0000;
	--light-red: #ff4d4d;
	--black: #232323;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: var(--primary-font);
}

.main-wrapper {
	background-color: var(--black);
	min-height: 100vh;
	width: 100%;
}

.content {
	background-color: white;
	min-height: 100vh;
	margin: 0 280px;
}

.pub1,
.pub2 {
	position: absolute;
	height: 90vh;
	top: 35px;
}

.pub1 {
	right: 55px;
}
.pub2 {
	left: 55px;
}
