.author-wrapper {
	width: 100%;
	color: black;
	padding: 20px 10px 0 10px;
	display: flex;
	align-items: center;
	background-image: url('../images/background-author.jpg');
	background-size: cover;
	background-position: top;
}

/* .author-wrapper * {
	border: 1px solid red;
} */

.author-wrapper h1 {
	color: var(--yellow-title);
	text-shadow: -5px 3px 8px var(--yellow-title);
	width: 100%;
	text-align: center;
	font-size: 35px;
}

.author-wrapper .portrait-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: calc(100vh - 290px);
	gap: 20px;
}

.author-wrapper .portrait {
	border: 5px solid black;
	border-radius: 50%;
	width: 280px;
	background-image: url('../images/portrait.jpg');
	height: 280px;
	background-size: cover;
	background-position: 0 20%;
}

.author-wrapper .informations {
	display: flex;
	flex-direction: column;
	/* justify-content: space-between; */
	justify-content: center;
	/* height: calc(100vh - 295px); */
}

.author-wrapper .informations > div > div {
	height: fit-content;
	margin: 20px;
}

.author-wrapper .informations .top {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

/* .author-wrapper .informations .biography {
	font-size: 20px;
	text-align: justify;
} */

.author-wrapper .informations .biography {
	width: 100%;
	border: 3px solid black;
	padding: 5px;
}

.author-wrapper .informations .biography h2 {
	width: 100%;
	text-align: left;
	margin-bottom: 10px;
}

.author-wrapper .informations .actuality {
	font-family: var(--third-font);
	font-size: 70px;
	text-align: center;
	width: fit-content;
	color: var(--red);
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(75vh - 250px) !important;
	border: 5px solid var(--red);
}

.author-wrapper .informations .actuality img {
	width: 40px;
	height: 40px;
}

.author-wrapper .informations .social-media {
	margin-bottom: 0;
}

.author-wrapper .informations .social-media div {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 18px;
}
