header {
	padding-top: 25px;
	background-color: var(--blue);
	height: 130px;
}

header h1 {
	width: 100%;
	text-align: center;
	font-size: 50px;
}

header nav {
	margin-top: 15px;
	width: 100%;
}

header nav ul {
	display: flex;
	justify-content: space-around;
	list-style-type: none;
}

header nav ul li {
	font-size: 20px;
	padding: 5px 10px;
}

header nav ul li a {
	text-decoration: none;
	color: inherit;
}

header nav ul li.active,
header nav ul li a:hover {
	color: var(--yellow);
}

header h1 {
	color: var(--yellow);
}
