header {
	position: relative;
	padding-top: 25px;
	background-color: white;
	height: 250px;
	border-bottom: 5px solid var(--black);
	background-image: url('../images/background.jpg');
	background-size: cover;
	background-position: 0 30%;
	display: flex;
	align-items: flex-end;
}

header .titre {
	position: absolute;
	top: -40%;
	height: 400px;
	left: 12%;
}

header h1 {
	width: 100%;
	text-align: center;
	font-size: 50px;
}

header nav {
	margin-top: 15px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	background-color: var(--blue);
	position: relative;
	top: 20px;
}

header nav .left {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

header nav ul {
	display: flex;
	justify-content: space-around;
	list-style-type: none;
	gap: 10px;
}

header nav ul li {
	font-size: 20px;
	padding: 5px 10px;
}

header nav ul li a {
	text-decoration: none;
	color: inherit;
}

header nav ul li.active,
header nav ul li a:hover {
	color: var(--yellow);
}

header h1 {
	color: var(--yellow);
}

header .notification-wrapper {
	position: relative;
}

header .notification-wrapper span {
	z-index: 2;
}

header .notification {
	z-index: 0;
	background-color: red;
	border-radius: 50%;
	height: 20px;
	width: 20px;
	font-size: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
	position: absolute;
	top: -10px;
	right: -19px;
}

header .logo img {
	width: 30px;
	height: 30px;
	margin-right: 10px;
	cursor: pointer;
}

header input {
	padding: 2px 10px;
	width: 200px;
}

header .search {
	position: relative;
}

header .search img {
	position: absolute;
	top: 3px;
	right: 10px;
	width: 15px;
	height: 15px;
	cursor: pointer;
}
