.home-content {
	/* height: calc(100vh - 150px); */
	display: flex;
	flex-direction: column;
	padding-top: 30px;
	padding-bottom: 20px;
}

.home-content * {
	font-family: var(--secondary-font);
}

.home-content .top-content {
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 10px;
	flex: 1 0 auto;
	margin: 0 10px;
	padding: 10px 0;
}

.home-content .biography {
	border: thick double var(--blue);
	padding: 5px;
	padding-right: 10px;
	width: fit-content;
	max-width: 60%;
	font-size: 14px;
	height: fit-content;
}

.home-content .information {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--red);
	width: 45%;
	height: 170px;
}

.home-content .information .titre {
	padding: 10px 0;
	border-bottom: 1px solid black;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--black);
	color: white;
	gap: 5px;
	font-size: 18px;
}

.home-content .information .titre img {
	width: 30px;
	height: 30px;
}

.home-content .information .information-content {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	font-size: 23px;
	color: white;
	text-align: center;
}

.home-content .biography img {
	height: 150px;
	border: 1px solid black;
	float: left;
	margin-right: 5px;
}

.home-content .biography .text {
	text-align: justify;
}

.home-content hr {
	border: 1.5px solid var(--black);
}

.home-content .lore-wrapper {
	margin: 5px 20px;
	flex: fit-content 0 auto;
}

.home-content .lore-wrapper h2 {
	margin-bottom: 5px;
	font-size: 18px;
}

.home-content .lore {
	display: flex;
	justify-content: space-between;
}

.home-content .lore img {
	width: 40px;
	height: 40px;
}

.home-content .comments-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex;
	align-items: center;
	overflow: hidden;
	flex: 1 0 auto;
}

.home-content .comments-wrapper h2 {
	font-size: 18px;
	width: 100%;
	text-align: left;
	padding: 10px 20px;
}

.home-content .comments {
	/* border-right: none; */
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
}

.home-content .comments .comment-wrapper .titre {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 2px solid black;
	padding: 5px 10px;
	font-size: 14px;
	background-color: var(--yellow-title);
}

.home-content .comments .comment-wrapper .comment {
	padding: 5px 10px;
	font-size: 14px;
	background-color: var(--yellow);
}

.home-content .comment-wrapper {
	width: 95%;
	border: 2px solid black;
}

.home-content .comments .new-comment-wrapper {
	margin-top: 30px;
	/* border: 2px solid var(--yellow-title); */
	padding: 10px 0;
	width: 90%;

	/* border-right: 2px solid black; */
}

.home-content .comments .new-comment {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5px 10px;
}

.home-content .comments .new-comment .top {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.home-content .comments .new-comment .top .stan {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.home-content .comments .new-comment button {
	width: 100%;
	margin-top: 20px;
	padding: 5px 0;
	background-color: var(--yellow-title);
	cursor: pointer;
}

.home-content .comments .new-comment textarea {
	padding: 15px;
	width: 90%;
	min-height: 30px;
	resize: none;
	overflow: hidden;
}

.home-content .comments .new-comment img {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	cursor: pointer;
}

.home-content .notification {
	position: absolute;
	width: 300px;
	text-align: center;
	bottom: 20px;
	right: 290px;
	border: 1px solid black;
	padding: 10px;
	border-radius: 20px;
	background-color: var(--red);
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.home-content .notification img {
	width: 30px;
	height: 30px;
	margin-right: 5px;
}

.home-content .notification .remove {
	width: 20px;
	height: 20px;
	margin: 0;
	position: absolute;
	top: -10px;
	right: -7px;
	cursor: pointer;
}

.home-content .left {
	display: flex;
	gap: 10px;
	align-items: center;
}

/* .home-content .face {
	background-position: 53% 0;
	background-size: cover;
	width: 35px;
	height: 35px;
	border: 1px solid black;
	border-radius: 50%;
} */

.home-content .face {
	width: 35px;
	height: 35px;
	border: 1px solid black;
	border-radius: 50%;
}
.home-content .new-comment-wrapper h2 {
	font-size: 16px;
}

.home-content .sujet-wrapper {
	width: 95%;
	margin: 15px;
}

.home-content .sujet-wrapper .sujet {
	border: 1px solid black;
	width: fit-content;
	padding: 2px 15px;
	background-color: var(--yellow-title);
	color: black;
}

.home-content .sujet-wrapper h1 {
	margin-top: 10px;
	font-size: 30px;
}

.comment-wrapper-reponse {
	width: 92% !important;
	margin-top: 20px;
}

.comment-wrapper-reponse .pouces,
.comment-wrapper .pouces {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 10px;
	cursor: pointer;
}

.comment-wrapper-reponse .pouces div,
.comment-wrapper .pouces div {
	padding: 2px 5px;
	background-color: white;
	font-size: 15px;
}
