.home-content {
	margin-top: 30px;
}

.home-content .top-content {
	display: flex;
	justify-content: space-around;
}

.home-content .top-content > div {
	width: 400px;
}

.home-content .biography {
	flex: 0.6;
}

.home-content .information {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--red);
}

.home-content .information .titre {
	padding: 10px 0;
	border-bottom: 1px solid black;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--black);
	color: white;
	gap: 5px;
	font-size: 18px;
}

.home-content .information .titre img {
	width: 30px;
	height: 30px;
}

.home-content .information .information-content {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	font-size: 30px;
	color: white;
	text-align: center;
}

.home-content .biography img {
	width: 100px;
	height: 100px;
	border: 1px solid black;
	float: left;
	margin-right: 5px;
}

.home-content .biography .text {
	text-align: justify;
}

.home-content hr {
	margin-top: 10px;
	border: 1.5px solid var(--black);
}

.home-content .lore-wrapper {
	margin: 10px 20px 0 20px;
}

.home-content .lore-wrapper h2 {
	margin-bottom: 5px;
	font-size: 25px;
}

.home-content .lore {
	display: flex;
	justify-content: space-between;
}

.home-content .lore img {
	width: 50px;
	height: 50px;
}

.home-content .commentaires-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	height: 264px;
}

.home-content .commentaires-wrapper h2 {
	width: 100%;
	text-align: left;
	padding: 10px 20px;
}

.home-content .commentaires {
	border: 1px solid black;
	border-top: none;
	border-bottom: none;
	width: 90%;
	height: 90%;
}

.home-content .commentaires .commentaire-wrapper .titre {
	display: flex;
	justify-content: space-between;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 5px 10px;
	margin-bottom: 5px;
}

.home-content .commentaires .commentaire-wrapper .commentaire {
	padding: 0 10px;
	padding-bottom: 20px;
	border-bottom: 1px solid black;
	font-size: 20px;
}
